﻿@model PhoneStoreManager.WebApp.Models.Stores.EditStoreModel;

@{
    ViewData["Title"] = ViewData["ActionType"] + " Store";
}

<h2>@(ViewData["ActionType"] + " Store")</h2>

@using (Html.BeginForm("Edit", "Stores", FormMethod.Post))
{
    <strong>Name:</strong><br />
    @Html.HiddenFor(_ => _.Store.Id)
    @Html.TextBoxFor(_ => _.Store.Name, new { @style = "width: 40%", @class = "form-control" }) <br />
    <strong>Address:</strong><br />
    @Html.TextBoxFor(_ => _.Store.Address, new { @style = "width: 40%", @class = "form-control" }) <br />
    <input type="submit" name="button" class="btn btn-primary" value="Save" /> <br /> <br>
}

@if ((string)ViewData["ActionType"] == "Edit")
{
    @using (Html.BeginForm("AddPhoneToStore", "Stores", FormMethod.Post))
    {
        @Html.HiddenFor(_ => _.AddPhoneToStoreModel.StoreId)
        <strong>Contains Phone:</strong><br />
        @Html.DropDownListFor(_ => _.AddPhoneToStoreModel.PhoneId,
                        new SelectList(Model.AddPhoneToStoreModel.Phones, "Id", "Name"),
                        "Select Phone", new { style = "width: 40%", @class = "form-control", onchange="onPhoneChange(event)" })<br />

        <strong>Phone color:</strong><br />
        @Html.DropDownListFor(_ => _.AddPhoneToStoreModel.ColorId,
                        new SelectList(new List<int>()),
                        "Select Color", new { @style = "width: 40%", @class = "form-control" })<br />

        <strong>Price:</strong><br />
        @Html.TextBoxFor(_ => _.AddPhoneToStoreModel.Price, new { @style = "width: 10%", @class = "form-control" }) <br />
        <strong>Amount:</strong><br />
        @Html.TextBoxFor(_ => _.AddPhoneToStoreModel.Amount, new { @style = "width: 10%", @class = "form-control" }) <br />

        <input type="submit" name="button" class="btn btn-primary" value="Add Phone to Store" /> <br /> <br>
    }

    <table>
        <tr>
            <th>Phone</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Color</th>
            <th>Options</th>
        </tr>
        
        @foreach (var storePhone in Model.StorePhonesModel.StorePhones)
        {
            <tr>
                <td>@storePhone.Phone.Name</td>
                <td>@storePhone.Price</td>
                <td>@storePhone.Amount</td>
                <td><div class="color-box" style="background-color: @storePhone.PhoneColor.Code"></div>@storePhone.PhoneColor.Color</td>
                <td>
                    @using (Html.BeginForm("RemovePhonesFromStore", "Stores", new { phoneid = storePhone.PhoneId, storeId = storePhone.StoreId }, FormMethod.Post, true, null))
                    {
                        @Html.ActionLink("Remove", "RemovePhonesInStore", "Stores", null, new { onclick = "onLinkClick(event)" })
                    }
                </td>
            </tr>
        }
    </table>
}

@section Scripts
    {
    <script>

        function onLinkClick(e) {
            e.preventDefault();
            e.stopPropagation();

            if (confirm("Are you sure  want to remove selected phones from store?")) {
                e.target.parentNode.submit();
            }

            return false;
        }

        function onPhoneChange(e) {
            var selectedId = e.target.selectedOptions[0].value;

            var colorPromise = getPhoneColors(selectedId);

            colorPromise.then(function (colors) {
                var selectColorDropdown = document.getElementById("AddPhoneToStoreModel_ColorId");

                for (i = selectColorDropdown.options.length - 1; i >= 0; i--) {
                    selectColorDropdown.remove(i);
                }

                colors.forEach(function (color, i) {
                    var opt = document.createElement('option');
                    opt.value = color.id;
                    opt.innerHTML = color.color;
                    selectColorDropdown.appendChild(opt);
                });
            });
        }

        function getPhoneColors(phoneId) {
            return fetch('/phones/GetPhoneColors/' + phoneId)
                .then(function (response) {
                    return response.json();
                })
                .catch(alert);
        }

    </script>
}