﻿@model PhoneStoreManager.WebApp.Models.Stores.StoresModel;
@{
    ViewData["Title"] = "Stores";
}

<div class="row">

    <div class="row">
        <div class="search-panel col-md-6">
            <h2>Stores</h2>
            <div class="input-group">
                <input type="text" class="form-control" id="searchStore" value="@Model.SearchText" placeholder="Search for..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="searchStore(event)">Search </button>
                </span>
            </div>
        </div>
    </div>

    <div class="row col-md-6">
        @Html.ActionLink("Create new Store", "Create", "Stores", null, new { @class = "btn btn-default" })
    </div>

    <div class="row col-md-12">

        <table>
            <tr>
                <th>Id</th>
                <th>Store name</th>
                <th>Address</th>
                <th>Options</th>
            </tr>

            @foreach (var store in Model.Stores)
            {
                <tr>
                    <td>@store.Id</td>
                    <td>@store.Name</td>
                    <td>@store.Address</td>
                    <td>
                        @using (Html.BeginForm("Remove", "Stores", new { id = store.Id }, FormMethod.Post, true, null))
                        {
                            @Html.ActionLink("Edit", "Edit", "Stores", new { id = store.Id })
                            <text> | </text>
                            @Html.ActionLink("Remove", "Remove", "Stores", null, new { onclick = "onLinkClick(event)" })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts
    {
    <script>

        function onLinkClick(e) {
            e.preventDefault();
            e.stopPropagation();

            if (confirm("Are you sure  want to remove the store?")) {
                e.target.parentNode.submit();
            }

            return false;
        }

        function searchStore(e) {
            var searchText = document.getElementById("searchStore").value;
            location.href = "@Url.Action("Index")" + (searchText.trim() != "" ? "?searchText=" + searchText : "");
        }

    </script>
}