﻿@model PhoneStoreManager.Domain.Manufacturer;

@{
    ViewData["Title"] = ViewData["ActionType"] + " Manufacturer";
}

<h2>@(ViewData["ActionType"] + " Manufacturer")</h2>

@using (Html.BeginForm("Edit", "Manufacturers", FormMethod.Post))
{
    <strong>Name:</strong><br />
    @Html.TextBoxFor(_ => _.Name, new { @style = "width: 40%", @class="form-control"}) <br/>
    <strong>Address:</strong><br />
    @Html.TextBoxFor(_ => _.Address, new { @style = "width: 40%", @class = "form-control" }) <br/>
    <input type="submit" class="btn btn-primary" name="button" value="Save" />
}