﻿@model PhoneStoreManager.WebApp.Models.Manufacturers.ManufacturersModel;

<div class="row">
    <div class="row">
        <div class="search-panel col-md-6">
            <h2>Manufacturers</h2>
            <div class="input-group">
                <input type="text" class="form-control" id="searchManufacturer" value="@Model.SearchText" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="searchManufacturer(event)">Search</button>
                </span>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Create new manufacturer", "create", "Manufacturers", null, new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Manufacturer name</th>
                    <th>Address</th>
                    <th>Options</th>
                </tr>

                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <tr>
                        <td>@manufacturer.Id</td>
                        <td>@manufacturer.Name</td>
                        <td>@manufacturer.Address</td>

                        <td>
                            @using (Html.BeginForm("Remove", "Manufacturers", new { id = manufacturer.Id }, FormMethod.Post, true, null))
                            {
                                @Html.ActionLink("Edit", "Edit", "Manufacturers", new { id = manufacturer.Id })
                                <text> | </text>
                                @Html.ActionLink("Remove", "Remove", "Manufacturers", null, new { onclick = "onLinkClick(event)" })
                            }
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
            function searchManufacturer(e) {
                var searchText = document.getElementById("searchManufacturer").value;
                location.href = "@Url.Action("Index")" + (searchText.trim() != "" ? "?searchText=" + searchText : "");
            }

            function onLinkClick(e) {
                e.preventDefault();
                e.stopPropagation();

                if (confirm("Are you sure  want to remove the manufacturer?")) {
                    e.target.parentNode.submit();
                }

                return false;
            }

    </script>

}

