﻿@model PhoneStoreManager.WebApp.Models.Phones.EditPhoneModel;
@{
    ViewData["Title"] = ViewData["ActionType"] + "Phone";
}

<h2> @{ViewData["Title"] = ViewData["ActionType"] + "Phone";} </h2>

@using (Html.BeginForm("Edit", "Phones", FormMethod.Post))
{
    @Html.HiddenFor(_ => _.Phone.Id)

    <strong>Name:</strong><br />
    @Html.TextBoxFor(_ => _.Phone.Name, new { @style = "width: 40%", @class = "form-control" })<br />

    <strong>Description:</strong><br />
    @Html.TextAreaFor(_ => _.Phone.Description, 5, 2, new { @style = "width: 40%", @class = "form-control" })<br />

    <strong>ScreenSize:</strong><br />
    @Html.TextBoxFor(_ => _.Phone.ScreenSize, new { @style = "width: 40%", @class = "form-control" })<br />

    <strong>Manufacturer:</strong><br />
    @Html.DropDownListFor(_ => _.Phone.ManufacturerId,
                    new SelectList(Model.Manufacturers, "Id", "Name"),
                    "Select Manufacturer", new { @style = "width: 40%", @class = "form-control" })<br />

    <strong>Select OS of Phone:</strong><br />
    @Html.DropDownListFor(_ => _.Phone.OSId,
                    new SelectList(Model.PhoneOSes, "Id", "OS"),
                    "Select OS", new { @style = "width: 40%", @class = "form-control" })

    <br />

    <input type="submit" name="button" value="Save" class="btn btn-primary" />
}

