﻿@model PhoneStoreManager.WebApp.Models.Phones.PhonesModel;

<div class="row">
    <div class="row">
        <div class="search-panel col-md-6">
            <h2>Phones</h2>
            <div class="input-group">
                <input type="text" class="form-control" id="searchPhone" value="@Model.SearchText" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="searchPhone(event)">Search</button>
                </span>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Create new phone", "create", "Phones", null, new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table>
                <tr>
                    <th>Id</th>
                    <th>Phone name</th>
                    <th>Phone Description</th>
                    <th>ScreenSize</th>
                    <th>OS of Phone</th>
                    <th>Options</th>
                </tr>

                @foreach (var phone in Model.Phones)
                {
                    <tr>
                        <td>@phone.Id</td>
                        <td>@phone.Name</td>
                        <td>@phone.Description</td>
                        <td>@phone.ScreenSize</td>
                        <td>@phone.PhoneOS.OS</td>

                        <td>
                            @using (Html.BeginForm("Remove", "Phones", new { id = phone.Id }, FormMethod.Post, true, null))
                            {
                                @Html.ActionLink("Edit", "Edit", "Phones", new { id = phone.Id })
                                <text> | </text>
                                @Html.ActionLink("Remove", "Remove", "Phones", null, new { onclick = "onLinkClick(event)" })

                            }
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>

</div>
@section Scripts
    {
    <script>
            function searchPhone(e) {
                var searchText = document.getElementById("searchPhone").value;

                location.href = "@Url.Action("Index")" + (searchText.trim() != "" ? "?searchText=" + searchText : "");
                
            }

            function onLinkClick(e) {
                e.preventDefault();
                e.stopPropagation();

                if (confirm("Are you sure  want to remove the phone?")) {
                    e.target.parentNode.submit();
                }

                return false;
            }

    </script>
}