﻿@model PhoneStoreManager.WebApp.Models.Home.ResultsModel;
@{
    ViewData["Title"] = "Index";
}

<div class="filter-bar col-md-3">
    <h4>Manufacturers:</h4>
    <ul type="none">
        @foreach (var manufacturer in Model.Filter.Manufacturers)
        {
            <li>
                <input type="checkbox" value="@manufacturer.Id" id="@("manufacturer_filter_" + manufacturer.Id)" />
                <label for="@("manufacturer_filter_" + manufacturer.Id)">@manufacturer.Name</label>
            </li>
        }
    </ul>

    <br />

    <h4>Size of Screen:</h4>


</div>

<div class="content col-md-9">

    @foreach (var phone in Model.Results.Phones)
    {
        <div class="row result-phone">
            <div class="col-md-2 phone-img">
                <img src="@($"/images/phones/{phone.Id}.jpeg")" />
            </div>

            <div class="col-md-10">
                <h4>@phone.Name</h4>
                <p>@phone.Description</p>
            </div>

        </div>
    }

</div>

